<!doctype html>
<html>
<head>
    <title>Hacked</title>

    <% include shared/assets %>
</head>
<body>
    <div class="contain-to-grid">
        <div class="top-bar">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="/">Hacked</a></h1>
                </li>
            </ul>
            <div class="top-bar-section">
                <ul class="right">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="small-12 column shell">
        <div class="row">
            <div class="small-12 column">
                <div class="output" id="output"></div>
                <input class="input" id="command" type="text" name="command">
            </div>
        </div>
    </div>
    <script>
        var user = <%- uuid %>;
    </script>
    <script src="js/client.js"></script>
</body>
</html>