<!doctype html>
<html>
<head>
    <title>Hacked</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <div class="shell">
            <input id="command" type="text" name="command">
        </div>
    </div>
    <script>
        var socket = io.connect('http://localhost:3000');
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('some event', { my: 'data' });
        });

        $('#command').keyup(function (e) {
            if (e.keyCode === 13) {
                var command = $('#command').val();

                $('#command').val('');

                $.post('http://localhost:3000/execute', {
                    command: command
                }, function (data) {
                    console.log(data);
                });
            }
        });
    </script>
</body>
</html>