<!doctype html>
<html>
<head>
    <title>Register &middot; Hacked</title>

    <% include shared/assets %>
</head>
<body>
    <div class="contain-to-grid">
        <div class="top-bar">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="/">Hacked</a></h1>
                </li>
            </ul>
            <div class="top-bar-section">
                <ul class="right">
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="small-3 column">&nbsp;</div>  
        <div class="small-6 column">
            <form method="post">
                <div class="row">
                    <div class="small-12 column">
                        <div class="row">
                            <div class="small-3 column">
                                <label class="inline" for="username">Username</label>
                            </div>
                            <div class="small-9 column">
                                <input type="text" name="username">
                                <% if (registrationError !== '') { %>
                                    <small class="error"><%= registrationError %></small>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 column">
                        <div class="row">
                            <div class="small-3 column">
                                <label class="inline" for="password">Password</label>
                            </div>
                            <div class="small-9 column">
                                <input type="password" name="password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 column">
                        <div class="row">
                            <div class="small-9 column"></div>
                            <div class="small-3 column">
                                <input class="button right" type="submit" value="Register">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="small-3 column">&nbsp;</div>
    </div>
</body>
</html>