/* Global */

body {
    background: #282c34;
}

p,
label {
    color: #c2c6d0;
}

a {
    color: #636b7c;
}

/* Foundation */

a:hover {
    color: #868d9c;
}

.button {
    color: #c2c6d0;
    background: #636b7c;
}

.button:hover {
    color: #636b7c;
    background: #c2c6d0;
}

.contain-to-grid,
.top-bar,
.top-bar-section li:not(.has-form) a:not(.button) {
    background: #636b7c;
    color: #c2c6d0;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #49505f;
    color: #c2c6d0;
}

/* UI */

.container {
    margin-top: 25px;
}

.shell {
    background: #282c34;
    color: #c2c6d0;
}

.shell .input {
    position: fixed;
    bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}

.shell .output {
    height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
}

/* Messages */

.broadcast {
    color: #c2c6d0;
}

.private {
    color: #c2c6d0;
}

.error {
    color: #d08770;
}
